@{
    ViewBag.Title = "Weather";
}
<h1>Weather forecast for Karlstad</h1>
<p>@DateTime.Today.DayOfWeek</p>
<div class="table-responsive">
   <table class="table table-sm table-striped table-hover" id="tblWeather">
      <thead>
         <tr>
            <th>Day</th>
@*            <th>Night</th>
            <th>Morning</th>
            <th>Afternoon</th>
            <th>Evening</th>*@
            <th>Min/max temp °C</th>
            <th>Weather</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>
</div>